/* Mobile */
@media only screen and (max-width: 1440px) {
  body {
    background: url(../images/bg-mobile.svg) no-repeat center fixed;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  body {
    background: url(../images/bg-desktop.svg) no-repeat center fixed;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: hsl(257, 40%, 49%);
  background-size: cover;
  padding: 4% 5%;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 4rem;
}

p {
  line-height: 1.8rem;
}

/* Sections */
.intro-section {
  padding: 4% 0;
}

.media-icons {
  margin: 5%;
  text-align: right;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Images */
.logo {
  width: 20%;
  margin-bottom: 5%;
}

.mockup {
  margin: 1%;
  width: 90%;
}

.sns-icon {
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  border: white 1px solid;
  border-radius: 20px;
  margin: 8px;
}

.sns-button:hover {
  opacity: 0.7;
}

/* Button */
.register-button {
  display: inline-block;
  padding: 2.5% 10%;
  margin-top: 3%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  background: white;
  color: hsl(257, 40%, 49%);
  box-shadow: rgba(22, 22, 22, 0.363) 5px 3px 5px;
  border-radius: 30px;
}

.register-button:active {
  box-shadow: 0;
}
